<body>
<button data-ng-click="fetchData()">Refresh</button>
<button data-ng-click="changeData()">Change Something</button>
<random-button>Random</random-button>
<button data-ng-click="flipColor()">Flip Color</button>
<div ng-controller="randomController">
    <button ngp-local-click="generateRandom(event)">Random</button><span ng-bind="randomNumber"></span>
</div>
<!--<span>{{randomNumber}}</span>-->
<div id="directHTML"></div>
<table id="myTable">
    <thead>
    <tr><th colspan="4">Contacts</th></tr>
    </thead>
    <tr ng-repeat="contact in contacts">
        <td class="{{color}}" data-ng-bind="$index"></td>
        <td class="{{color}}" data-ng-bind="contact.name">
        </td>
        <td class="{{color}}" data-ng-bind="contact.company"></td>
        <td class="{{color}}" data-ng-bind="contact.email"></td>
        <td class="{{color}}" data-ng-bind="contact.age"></td>
        <td class="{{color}}" data-ng-bind="contact.eyeColor"></td>
        <td class="{{color}}" data-ng-bind="contact.gender"></td>
        <td class="{{color}}" data-ng-bind="contact.phone"></td>
        <td class="{{color}}" data-ng-bind="contact.address"></td>
        <td class="{{color}}" data-ng-bind="contact.registered"></td>
        <td class="{{color}}" data-ng-bind="contact.latitude"></td>
        <td class="{{color}}" data-ng-bind="contact.longitude"></td>
        <td class="{{color}}" data-ng-bind="contact.favoriteFruit"></td>
    </tr>
    </tbody>
</table>
<table>

</table>
</body>